@mixin clearFix {
  &:after{
    display: block;
    content: "";
    clear: both;
  }
}
/*
input组件样式
*/
.cm-input {
  @include clearFix;
  position: relative;
  width: 100%;
  height: 36px;
  border: none;
  margin-top: 10px;
  vertical-align: middle;
  .cm-input-label {
    float: left;
    box-sizing: border-box;
    font-size: 1.3rem;
    line-height: 36px;
    text-align: right;
  }
  .cm-input-inner {
    height: 36px;
    padding: 0 10px;
    border: none;
    input {
      display: block;
      box-sizing: border-box;
      width: 100%;
      height: inherit;
      padding: 0 8px;
      border: 1px solid #dcdfe6;
      border-radius: 3px;
      font-size: 1.3rem;
      &:focus {
        border: 1px solid #409eff;
        outline: none;
      }
    }
  }
}

/*按钮组件样式*/
.cm-button{
  display: block;
  margin-top: 10px;
  text-align: center;
  button{
    display: inline-block;
    width: 100%;
    padding: 6px 15px;
    border: 1px solid #dddee1;
    border-radius: 3px;
    font-size: 1.4rem;
    line-height: 1.5;
    text-align: center;
    text-decoration: none;
    color: #495060;
    background-color: #f7f7f7;
    cursor: pointer;
    transition: all 0.5s;
    &.animate{
      animation: defaultAnimation .5s ease;
    }
    &:focus{
      outline: none;
    }
    &:hover{
      border-color: #2d8cf0;
      color: #2d8cf0;
      background-color: #fff;
    }
    &.primary{
      border-color: #2d8cf0;
      color:#fff;
      background-color: #2d8cf0;
      &:not(.disabled):hover{
        border-color: #0866ca;
        background-color: #0866ca;
      }
      &.animate{
        animation: primaryAnimation .5s ease;
      }
      &.circle{
        border-radius: 32px;
      }
      &.small{
        font-size: 12px;
      }
      &.large{
        font-size: 16px;
      }
      &.disabled{
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
    &.info{
      color:#fff;
      background-color: #2db7f5;
      &:not(.disabled):hover{
        background-color: #27afec;
        border-color: #27afec;
      }
      &.animate{
        animation: infoAnimation .5s ease;
      }
      &.circle{
        border-radius: 32px;
      }
      &.small{
        font-size: 12px;
      }
      &.large{
        font-size: 16px;
      }
      &.disabled{
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
    &.success{
      color:#fff;
      background-color: #19be6b;
      border-color: #19be6b;
      &:not(.disabled):hover{
        background-color: #09d06c;
        border-color: #09d06c
      }
      &.animate{
        animation: successAnimation .5s ease;
      }
      &.circle{
        border-radius: 32px;
      }
      &.small{
        font-size: 12px;
      }
      &.large{
        font-size: 16px;
      }
      &.disabled{
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
    &.warning{
      color:#fff;
      background-color: #f90;
      border-color: #f90;
      &:not(.disabled):hover{
        background-color: #da8709;
        border-color: #da8709;
      }
      &.animate{
        animation: warnAnimation .5s ease;
      }
      &.circle{
        border-radius: 32px;
      }
      &.small{
        font-size: 12px;
      }
      &.large{
        font-size: 16px;
      }
      &.disabled{
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
    &.error{
      color:#fff;
      background-color: #ed3f14;
      border-color: #ed3f14;
      &:not(.disabled):hover{
        background-color: #da3006;
        border-color: #da3006;
      }
      &.animate{
        animation: errorAnimation .5s ease;
      }
      &.circle{
        border-radius: 32px;
      }
      &.small{
        font-size: 12px;
      }
      &.large{
        font-size: 16px;
      }
      &.disabled{
        cursor: not-allowed;
        opacity: 0.6;
      }
    }
  }

}

